@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css or src/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

[class*="border-"] {
  transition: border-color 150ms ease-in-out;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight:normal;
  font-style: normal;
}

::selection {
  background-color: rgb(255, 98, 0);
  color: white;
}


body{
  background-color: rgb(11, 11, 11);
  /*Lineart on background*/

  /* background: url("./eoe.png"); */
  background-size: auto;
}